@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




@font-face {
  font-family: 'OpenSauceSans';
  src: url("../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-primary: #1A1B25;
  --color-secondary: #11111a;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 245, 249, 250;
    --background-end-rgb: 223,231,235;
  }
}



html {
  scroll-behavior: smooth;
}

.scrollOffset {
  position: relative;
  top: 80px; /* Adjust based on the height of your navbar */
  visibility: hidden;
} 


/* Custom Background Colours */
.gradient-white {
  background-image: linear-gradient(90deg, #f3f1ed, #cad5e5);
}


.gradient-blue {
  background-image: radial-gradient(circle at 50% 50%, #e6b65d, #e4bc89);
}

body {
  color: rgb(var(--foreground-rgb));
  background:linear-gradient(90deg, #f8f4ef,#f3f1ed);
  /* background: #E5E5E5; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1{
  font-family: "OpenSauceSans", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:var(--color-primary);

}

p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  color:var(--color-secondary);
}

/* Navbar elelments */



.topnav{
  display: none;
  gap: 5rem;
  padding: 50%;
  
}

@media (min-width: 768px) {
  .topnav {
    display: flex; /* md:flex */
    justify-content: space-between;
  }
}

.topnav {
  text-transform: uppercase; /* uppercase */
  align-items: center; /* items-center */
  gap: 1rem; /* gap-8 */
  padding: 3rem; /* px-8 */
}

.navbar-text{
  font-family: 'Poppins';
  color: var(--text-primary);
  white-space: nowrap;
  border-bottom: 4px solid transparent;
  border-radius: 0 0 0.25rem 0.25rem;
  color: black;
}

.navbar-text:hover{
  border-color: #de841e;
  color: black;
}

.navbar-text-options {
  font-family: 'Poppins';
  color: var(--text-primary);
  white-space: nowrap;
  color:black;
}

 
/* .navbar-text-options {
  width: 70%; 
  position: absolute;
  top: 10px; 
  display: none; 
} */


/*
@media (min-width: 768px) {
  .navbar-text-options {
    width: auto;
    top: 20px; 
  }
} 
*/
.navbar-text-options:hover{
  font-weight: bold;
  color: black;
  border-color: #1e2ede;
} 

.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500; /* Medium font weight */
  justify-content: space-between; 
 }








@tailwind base;
@tailwind components;
@tailwind utilities;
