@font-face {
    font-family: 'OpenSauceSans';
    src: url("../../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.column1{
    float:left;
    width: 25%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 1%;
}

.column2{
  float: right;
  width:50%;
  margin-right: 1%;
  padding: 1%;
  margin-top: 4%;
}

.line{
  border: none;
  border-top: 4px solid #333;
  margin: 10px;
  width: 90%;
  /* margin-top: 5rem; */
  margin-left: 4.5rem;
}
.h1, .h2{
    font-family: 'Roboto', sans-serif;
    color: black;
}

.h1{
  font-weight: bolder;
  margin: 1px;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-left: 60rem;
  }
  
  .h2{
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  .p{
    font-family: 'Poppins';
    color: #1A1B25;
    /* padding-left: 10rem; */
    font-weight: normal;
    text-align: left;
    /* margin-right: 15%; */
    /* margin-left: -5%; */
    /* padding: 10%; */
    }
    

    @media (max-width: 768px) {
      .column1{
        float:none;
        width: 80%;
        margin-left: 10%;
        margin-top: 2%;
        padding: 1%;
        }
    
    .column2{
      float: right;
      width:50%;
      margin-right: 20%;
      padding: 1%;
      margin-top: 4%;
    }
      .line{
        border: none;
        border-top: 4px solid #333;
        margin: 10px;
        width: 80%;
        margin-top: 0.1rem;
        margin-left: 2rem;
      }

      .h1, .h2{
        font-family: 'Roboto', sans-serif;
        color: black;
    }
    
    .h1{
      font-weight: bold;
      margin: 1px;
      padding: 1px;
      text-align: center;
      text-decoration: none;
      color: black;
      font-size: 40px;
      margin-left: 10rem;
      }

      .h2{
        font-weight: bold;
        font-size: 25px;
        text-decoration: none;
        color: black;
        text-align: center;
      }

      .text{
        margin-top: 3rem;
      }

      .p{
        font-family: 'Poppins';
        color: #1A1B25;
        
        /* padding-left: 10rem; */
        font-weight: normal;
        text-align: left;
        /* margin-right: 15%; */
        /* margin-left: -5%; */
        /* padding: 10%; */  
      }
      
      }
     
       @media (max-width: 1024px) { 
      	
      }
      
      @media (min-width: 1025px) {
      
      
      }