@font-face {
  font-family: 'OpenSauceSans';
  src: url("../../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


.h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 1px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-left: 60rem;
}

.line{
  border: none;
  border-top: 4px solid #333;
  margin: 10px;
  width: 100%;
  margin-top: -1rem;
}
  
  .p1{
    font-family: 'Poppins';
    color: black;
    font-weight: normal;
    text-align: right;
    padding-left: 50%;
    margin-right: 3%;
    z-index: 2;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .card{
    border-radius: 10px;
    border-color: "D9D9D9";
    border-width: 9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    height: 200px;
    margin-bottom: 5rem;
  }

  .formcontainer{
    height: 200px;
    margin-top: -6rem;
  }

.labels{
  color: #de841e;
}

  .column1{
  /* margin-left: -80px; */
  position: relative;
  left: -8%;
  width: 30rem;
  }

  .column2{
  position: relative;
  right: -58%;
  width: 30rem;
  transform: translateY(-74px);
  }

  .column3{
    position: relative;
    left: -8%;
    width: 30rem;
    margin-top: -3rem;
  }

  .button{
    position: absolute;
    left: 100%;
    /* transform: translate(-50%, -50%); */
    margin-top: 3rem;
  }

  .inputs {
    color: #de841e;
    width: 100%;
    padding-top: 0.75rem; /* py-3 */
    padding-bottom: 0.75rem; /* py-3 */
    padding-left: 1.5rem; /* px-6 */
    padding-right: 1.5rem; /* px-6 */
    font-size: 1rem; /* text-base */
    font-weight: 500; /* font-medium */
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* focus:shadow-md */
    background: transparent;
    border-bottom: 2px solid #cacaca;
  }
  
  .inputs:focus {
    border-color: #de841e; /* focus:border-purple-500 */
    box-shadow: none 
  }
  
  .inputs::placeholder {
    font-family: 'Poppins', sans-serif;
  }
  
  .textarea::placeholder{
    font-family: 'Poppins', sans-serif;
  }
  
  .textarea {
    color: #de841e;
    width: 100%;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500; 
    outline: none;
    border: none;
    border-bottom: 2px solid #cacaca; 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: transparent;
    resize: none; 
  }
  
  .textarea:focus {
    border-color: #de841e; /* Equivalent to focus:border-purple-500 */
    box-shadow: none; /* Equivalent to focus:shadow-md */
  }
 
  
  /* mobile devices. ipads, tablets */

  @media (max-width: 768px) {
    .card{
      height: auto;
      
    }

    .column1{
      /* float:none; */
      width: 250%;
      margin-left: -130%;
      /* margin-top: 2%; */
      /* padding: 1%; */
      }
  
  .column2{
    /* float: right; */
    /* width:50%; */
    width: 250%;
    margin-left: -190%;
    margin-top: 6rem;
    /* padding: 1%; */
    /* margin-top: 4%; */
  }

  .column3{
    /* float: right; */
    width:250%;
    margin-left: -140%;
    /* padding: 1%; */
    /* margin-top: 4rem; */
  }
    .line{
      border: none;
      border-top: 4px solid #333;
      margin: 10px;
      width: 80%;
      margin-top: 0.1rem;
      margin-left: 3rem;
    }
 
  .h1{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    margin: 1px;
    padding: 1px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin-left: 10rem;
    }

    .text{
      margin-top: 3rem;
      margin-left: -17rem;
    }

    .p{
      font-family: 'Poppins';
      color: #1A1B25;
      
      /* padding-left: 10rem; */
      font-weight: normal;
      text-align: left;
      /* margin-right: 15%; */
      /* margin-left: -5%; */
      /* padding: 10%; */  
    }

    .button{
      position: absolute;
      left:100px;

    }
    }
   
     @media (max-width: 1024px) { 
      
    }
    
    @media (min-width: 1025px) {
    
    
    }
  /* @media (max-width: 768px) {
    .row {
      margin-top: 5rem; 
    }
  
    .column {
      margin-bottom: 5rem; 
    }
  
    .column::after {
      top: -3rem; 
      height: calc(100% + 4rem); 
    }
  
    .formcontainer {
      padding: 0.5rem; 
    }
  
    .inputs,
    .textarea {
      padding: 0.5rem 1rem; 
      font-size: 0.9rem; 
    }
  
    .contactItem {
      margin-left: 0; 
    }
  
    .contactItem svg {
      font-size: 1rem; 
    }
  
    .column::after {
        display: none; 
      }
  
    .contactItem span {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 1rem; 
      
    }
  }
   */
  /* small screens, laptops */
  @media (min-width:769px) and  (max-width: 1024px) {
    .row {
      margin-top: 5rem; 
    }
  
    .column {
      margin-bottom: 5rem; 
    }
  
   
  
    .column::after {
      top: -3rem; 
      height: calc(100% + 4rem); 
    }
  
    .formcontainer {
      padding: 0.5rem; 
    }
  
    .inputs,
    .textarea {
      padding: 0.5rem 1rem; 
      font-size: 0.9rem; 
    }
  
    .contactItem {
      margin-left: 0; 
    }
  
    .contactItem svg {
      font-size: 1rem; 
    }
  
    .column::after {
        display: none; 
      }
  
    .contactItem span {
        font-family: 'Poppins', sans-serif;
        color: black;
        font-size: 1rem; 
        
    }
  
    .contactItem{
        align-items: center;
    }
  }
  