@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

/* :root { */
	/* Base font size */
	/* font-size: 10px;
} */

/* *,
*::before,
*::after {
	box-sizing: border-box;
} */

/* .body {
	min-height: 100vh;
	background-color: #fafafa;
} */

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}

/*

The following rule will only run if your browser supports CSS grid.

*/

@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery-item {
		box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}

	.gallery-image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 400ms ease-out;
	}

	.gallery-image:hover {
		transform: scale(1.15);
	}
}
