@import url(https://fonts.googleapis.com/css?family=Montserrat:500);

.container {
	max-width: 100rem;
	margin: 0 auto;
	padding: 0 2rem 2rem;
}

.heading {
	font-family: "Montserrat", Arial, sans-serif;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.5;
	text-align: center;
	padding: 3.5rem 0;
	color: #1a1a1a;
}

.heading span {
	display: block;
}



.marquee_video{
    position: relative;
    z-index: 1;
    margin-top: -10rem;
    margin-bottom: -4rem;
	margin: 5rem;
}

.video_radius{
    border-radius: 30px;
    margin-top: 2rem;
}



@supports (display: grid) {
	.gallery {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
		grid-gap: 2rem;
	}

	.gallery-item {
		box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
		overflow: hidden;
	}

	.gallery-image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: transform 400ms ease-out;
	}

	.gallery-image:hover {
		transform: scale(1.15);
	}
}



/* .noHorizontalScroll {
	overflow-x: hidden;
	width: 100%;
  }
  
  .marquee_video {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	margin: 20px auto;
  }
  
  .video_radius {
	border-radius: 12px;
	width: 100%;
	height: auto;
	max-width: 900px;
	max-height: 500px;
	aspect-ratio: 16 / 9; 
  }
  
  
  .flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  
  body {
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
  }
  

  .about-section {
	padding: 2rem;
	text-align: center;
  }
  
  .about-section h1 {
	font-size: 2rem;
  }
  
  .about-section p {
	font-size: 1rem;
	margin-top: 1rem;
  }
  
 
  .paintings-section {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	padding: 2rem;
  }
  
  .paintings-section img {
	width: 100%;
	max-width: 300px;
	height: auto;
	border-radius: 8px;
  }
  
 
  .footer {
	background-color: #f4f4f4;
	padding: 1rem;
	text-align: center;
	font-size: 0.9rem;
  }
   */
   
  @media (max-width: 768px) {
	.video_radius {
	  max-width: 100%;
	  height: auto;
	}
  }
 
   @media (max-width: 1024px) { 
	.marquee_video {
	  max-width: 80%;
	}	
  }
  
  @media (min-width: 1025px) {
	.marquee_video {
	  max-width: 900px;
	}
  }
