.marquee{
    overflow:hidden;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0;
    margin-top: -25rem;
}

.marquee_content{
    display: inline-block;
    animation: marquee 25s linear infinite;
    margin-top:1rem;
    z-index: 0;
}


@keyframes marquee {
    0%{
        transform: translateX(100%vw);
    }
    100%{
        transform: translateX(-100vw);
    }
} 