.modal{
    display: block;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContent{
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    /* height: 50%; */
    width: 80%;
    max-width: 900px;
    position:relative;
    z-index: 2;
}

.closeButton{
    color: #de841e;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor:pointer;
}

.closeModalButton{
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color:  transparent;
    border: 2px solid #de841e;
    cursor: pointer;
    font-size: 10px;
    outline:none;
    position: relative;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.openModalButton:hover{
    background-color: #E5E5E5;
}

.text{
    font-family: sans-serif;
    text-wrap: nowrap;
    font-size: medium;
    color: #de841e;
    margin: 1px;
    padding: 2px;
}



@media screen and (max-width:480px) {
    .modalContent{
        background-color: white;
        margin-top: 10rem;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 900px;
        position: relative;
        z-index: 2;
    }
}