.container {
  background-color: #D9D9D9;
}

.heading {
  color:#de841e;
}

.textarea {
  width: 10%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #de841e;
  font-size: 1rem;
  font-style: normal;
  color: #333;
}

.success {
  color: #4caf50;
  margin-top: 15px;
}

.error {
  color: #f44336;
  margin-top: 15px;
}

/* mobile devices.*/
  @media (min-width: 300px) and (max-width: 767px) {
    .container {
  background-color: #D9D9D9;
}

.heading {
  color:#de841e;
}

.textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #de841e;
  font-size: 1rem;
  font-style: normal;
  color: #333;
}

.success {
  color: #4caf50;
  margin-top: 15px;
}

.error {
  color: #f44336;
  margin-top: 15px;
}
  }

  /* iPads & tablets.*/
  @media (min-width: 768px) and (max-width: 1110px) {
    .container {
  background-color: #D9D9D9;
}

.heading {
  color:#de841e;
}

.textarea {
  width: 45%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #de841e;
  font-size: 1rem;
  font-style: normal;
  color: #333;
}

.success {
  color: #4caf50;
  margin-top: 15px;
}

.error {
  color: #f44336;
  margin-top: 15px;
}
  }

@media (max-width: 1440px) {
  .container {
  background-color: #D9D9D9;
}

.heading {
  color:#de841e;
}

.textarea {
  width: 135%;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #de841e;
  font-size: 1rem;
  font-style: normal;
  color: #333;
}

.success {
  color: #4caf50;
  margin-top: 15px;
}

.error {
  color: #f44336;
  margin-top: 15px;
}
  
}