.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #D9D9D9;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}

.heading {
  margin-bottom: 20px;
  /* color: #333; */
  color:#de841e;
  /* font-size: 1.5rem; */
  font-size: 19px;
}

.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #f44336;
  font-size: 1rem;
  font-style: normal;
  color: #333;
}

.success {
  color: #4caf50;
  margin-top: 15px;
}

.error {
  color: #f44336;
  margin-top: 15px;
}
