@font-face {
  font-family: 'OpenSauceSans';
  src: url("../../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


.h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 1px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-left: 60rem;
}

.line{
  border: none;
  border-top: 4px solid #333;
  margin: 10px;
  width: 100%;
  margin-top: -1rem;
}

.p{
  font-family: 'Poppins';
  color: #1A1B25;
  /* padding-left: 10rem; */
  font-weight: normal;
  text-align: left;
  /* margin-right: 15%; */
  /* margin-left: -5%; */
  /* padding: 10%; */
  }

  .images_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 70px; /* Space between images */
    max-width: 900px; /* Adjust based on your preference */
    margin: 0 auto; /* Center the grid */
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .grid_image{
    width: 100%; /* Adjusts to the grid cell */
    height: 20rem; /* Maintains aspect ratio */
    object-fit: cover; /* Ensures image fits nicely */
    border: 2px solid #ddd; /* Optional: Adds a border */
    border-radius: 5px; /* Optional: Rounds corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow */

  }
