@font-face {
  font-family: 'OpenSauceSans';
  src: url("../../../public/Assets/fonts/OpenSauceSans-Black.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


.h1{
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 1px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 40px;
  margin-left: 60rem;
}

.line{
  border: none;
  border-top: 4px solid #333;
  margin: 10px;
  width: 100%;
  margin-top: -1rem;
}

.p{
  font-family: 'Poppins';
  color: #1A1B25;
  /* padding-left: 10rem; */
  font-weight: normal;
  text-align: left;
  /* margin-right: 15%; */
  /* margin-left: -5%; */
  /* padding: 10%; */
  }
  
